<!-- <p>dialog works!</p> -->
<div class="border w-[800px] mx-auto p-10 bg-white">
    <div class="flex items-center bg-black rounded-lg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" width="100" alt="">
        <span class="text-[50px] text-white">Angular Material</span>
    </div>
    <div class="p-10 text-[30px]">
        <form class="example-form">
            <div class="p-5"><span class="mr-4">1</span>
                <mat-form-field class="example-full-width">
                    <mat-label>Cual es tu nombre?</mat-label>
                    <input matInput placeholder="Ex. Jimmy Cruz">
                  </mat-form-field>
            </div>
            <div class="p-5"><span class="mr-4">2</span>
                <button mat-raised-button>Abrir Dialog</button>
            </div>           
        </form>       
    </div>      
</div>