<!-- <p>dialog works!</p> -->
<div class="border w-[800px] mx-auto p-10 bg-white">
    <div class="flex items-center bg-black rounded-lg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" width="100" alt="">
        <span class="text-[50px] text-white">Angular Material</span>
    </div>
    <div class="p-10 text-[30px]">
        <form class="example-form">           
            <ol class="list-decimal">
                <li class="p-5">
                  <mat-form-field appearance="fill">
                    <mat-label>Cual es tu nombre?</mat-label>
                    <input matInput [(ngModel)]="name" placeholder="Jimmy Cruz">
                  </mat-form-field>
                </li>
                <li class="p-5">
                  <button mat-raised-button (click)="openDialog()">Abrir Dialog</button>
                </li>
                <li class="p-5" *ngIf="deporte">
                  Tu deporte favorito es: <i>{{deporte}}</i>
                </li>
              </ol>           
        </form>       
    </div>      
</div>